:root {
  --black: #111111;
  --white: #ffffff;
  --milk: #fafafa;
  --orange: #fd9222;
  --grey: rgba(17, 17, 17, 0.1);
  --orange-light: rgba(253, 146, 34, 0.1);
  --dark: #1e1823;
  --beigie: #fcf1e0;
  --grey-light: #fafafa;
  --grey-text: rgba(255, 255, 255, 0.7);
  --grey-circle: rgba(255, 255, 255, 0.5);
  --grey-name: rgba(17, 17, 17, 0.7);
  --greyest: #4c4c4c;
}

/* Utilities */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

li {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* ===== Main styles ====== */

body {
  font-family: Montserrat, sans-serif;
  color: var(--black);
  background-color: var(--grey-light);
}

.container {
  padding: 0 16px;
  width: 1168px;
  margin: 0 auto;
}

.section {
  padding: 60px 0;
}

.section-headline {
  max-width: 412px;
  margin: 0 auto 50px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  color: var(--black);
}

.section-headline__span {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  color: var(--orange);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== Header section ===== */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 898px;
}

.header-logo__wrap {
  display: flex;
  gap: 4px;
  align-items: center;
}

.header-logo__link {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11em;
  letter-spacing: -0.54px;
  color: var(--black);

  text-transform: uppercase;
}

/* Header menu */

.header-logo__link-span {
  font-size: 18px;
  font-style: italic;
  line-height: 1.11em;
  letter-spacing: -0.54px;
  color: var(--black);

  text-transform: uppercase;
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-nav__item {
}

.header-nav__link {
  display: block;
  /* padding: 32px 0; */

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.28px;
  color: var(--black);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--orange);
}

/* Header Adress */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-adrress {
}

.header-adrress__list {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-adrress__list-item {
}

.header-adrress__link {
  display: flex;
  align-items: flex-start;

  padding: 8px;

  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--grey);
}

.header-adrress__link:hover,
.header-adrress__link:focus {
  border: 1px solid var(--orange-light);
}

.header-adrress__link:hover .header-adrress__icon,
.header-adrress__link:focus .header-adrress__icon {
  border: 1px solid var(--orange-light);
  fill: var(--orange);
}

.header-adrress__icon {
  fill: var(--black);
}

/* ===== Hero Section ===== */

.hero-section {
  padding-bottom: 80px;
}

.hero-container {
  width: 1136px;
  padding: 381px 40px 40px;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__headline {
  margin-bottom: 32px;
  max-width: 484px;

  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21em;
  letter-spacing: -0.84px;
  color: var(--white);
}

.hero__buttom {
  min-width: 144px;
  height: 45px;
  margin-right: 14px;

  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);
  border: 1px solid var(--orange);
  border-radius: 100px;
  background: var(--orange);
}

.hero__buttom:hover,
.hero__buttom:focus {
  background: var(--beigie);
  border: 1px solid var(--beigie);
  color: var(--orange);
}

.hero__button-ref {
  padding: 14px 40px;
  min-width: 183px;
  height: 45px;

  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);

  border-radius: 100px;
  border: 1px solid var(--white);
}

.hero__button-ref:hover,
.hero__button-ref:focus {
  color: var(--orange);
  border: 1px solid var(--orange);
}

.hero-scroll__link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  width: 129px;
  border-radius: 10px;
  background-color: transparent;
  text-decoration: none;
  color: var(--white);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28em;
  letter-spacing: -0.42px;
}

.hero-scroll__button-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;
  background-color: var(--white);
  border-radius: 50%;
}

/* ===== Advantages Section ====== */

.advantages-section {
  padding: 50px 0;
  background-color: var(--dark);
  margin: 0 auto;
  width: 1200px;
}

.advantages-container {
  padding: 0 50px;
  width: 1200px;
  margin: 0 auto;
}
.section-headline {
}
.visually-hidden {
}
.advantages__list {
  display: flex;
  align-items: flex-start;
  gap: 88px;
}
.advantages__list-item {
  position: relative;
  max-width: 308px;
}

.advantages__list-item:nth-child(2)::before {
  position: absolute;
  left: -44px;
  bottom: 58px;

  content: "";
  width: 1px;
  height: 124px;
  background-color: var(--grey-circle);
}

.advantages__list-item:nth-child(2)::after {
  position: absolute;
  left: 352px;
  bottom: 58px;

  content: "";
  width: 1px;
  height: 124px;
  background-color: var(--grey-circle);
}

.advantages__list-circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 62px;
  height: 62px;
  margin-bottom: 19px;

  border: 1px solid var(--grey-circle);
  border-radius: 50%;
}

.advantages__item-headline {
  margin-bottom: 18px;

  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);
}
.advantages__item-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  color: var(--grey-text);
}

/* ===== Ingredients Section ===== */

.ingredients-section {
  padding: 120px 0;
}

.ingredients__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
}

.ingredients__img {
  margin-bottom: 36px;
}

.ingredients__list-item {
  position: relative;

  width: 258px;
  height: 270px;
  padding: 28px 32px;

  border-radius: 15px;
}

/* Card button orange */

.ingredients__item-button {
  position: absolute;
  top: 14px;
  left: 220px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--milk);
}

.ingredients__item-icon {
  fill: var(--milk);
}

.ingredients__item-button:hover .ingredients__item-icon,
.ingredients__item-button:focus .ingredients__item-icon {
  fill: var(--orange);
}

.ingredients__item-button:hover,
.ingredients__item-button:focus {
  border: 1px solid var(--milk);
  background-color: var(--milk);
}

/* Card button milk */

.ingredients__item-button-milk {
  position: absolute;
  top: 14px;
  left: 220px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--orange);
}

.ingredients__item-icon-milk {
  fill: var(--orange);
}

.ingredients__item-button-milk:hover .ingredients__item-icon-milk,
.ingredients__item-button-milk:focus .ingredients__item-icon-milk {
  fill: var(--milk);
}

.ingredients__item-button-milk:hover,
.ingredients__item-button-milk:focus {
  border: 1px solid var(--orange);
  background-color: var(--orange);
}

/* Card button dark */

.ingredients__item-button-dark {
  position: absolute;
  top: 14px;
  left: 220px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--white);
}

.ingredients__item-icon-dark {
  fill: var(--white);
}

.ingredients__item-button-dark:hover .ingredients__item-icon-dark,
.ingredients__item-button-dark:focus .ingredients__item-icon-dark {
  fill: var(--black);
}

.ingredients__item-button-dark:hover,
.ingredients__item-button-dark:focus {
  border: 1px solid var(--white);
  background-color: var(--white);
}

/* n-tn Card color */

.ingredients__list-item:nth-child(2n) {
  background-color: var(--white);
  border: 1px solid var(--orange);
}

.ingredients__list-item:nth-child(4n + 1) {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

.ingredients__list-item:nth-child(4n + 3) {
  background-color: var(--black);
  border: 1px solid var(--black);
}

.ingredients__img {
  display: block;
  max-width: 100%;
}

.ingredients__item-headline-black {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  color: var(--black);
}

.ingredients__item-headline-white {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  color: var(--white);
}

/* ===== How-made Section ===== */

.how-made-section {
  padding-bottom: 120px;
}
.how-made__division-wrap {
  display: flex;
  gap: 20px;
}

.how-made__division {
  border-radius: 15px;
}

.how-made__division-text {
  background: var(--white);
  border-radius: 15px;
  padding: 32px;
}
.how-made__division-img {
}
.how-made__headline {
  margin-bottom: 28px;
  max-width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  color: var(--black);
}
.how-made__list-item {
  display: flex;
  align-items: first baseline;
  gap: 8px;
}

.how-made__list-item:not(:last-child) {
  margin-bottom: 24px;
}

.how-made__icon {
  min-width: 8px;
  min-height: 8px;
}

.list-item__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  color: var(--black);
}

/* ===== Products Section ===== */

.products-section {
  padding-bottom: 120px;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 24px;
}

.products__list-item {
  width: 270px;
  height: 364px;
  padding: 32px 20px 40px 20px;
  background: var(--white);

  border-radius: 15px;
  border: 1px solid var(--grey);
}

.products__list-item:hover,
.products__list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.products__list-img {
  margin-bottom: 8px;
}

.products__item-headline {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: -0.36px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}
.products__item-name {
  margin-bottom: 28px;

  color: var(--grey-name);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: -0.24px;
  text-align: center;
}
.products__item-price {
  display: block;
  margin: 0 auto;

  padding: 8px 20px;

  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);

  border-radius: 100px;
  border: 1px solid var(--grey);
  background: var(--grey-light);
}

.products__item-price:hover,
.products__item-price:focus {
  border: 1px solid var(--orange);
  background: var(--orange);
  color: var(--white);
}

/* ===== Sellers Section ===== */

.sellers-section {
  padding-bottom: 120px;
}
.sellers__list {
  display: flex;
  gap: 16px;
}
.sellers__list-item {
  background: var(--white);
  border-radius: 15px;
  border-right: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
}

.sellers__list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.sellers__list-img {
  border-radius: 15px 15px 0 0;
}

.sellers__item-headline {
  padding: 28px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: -0.36px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

/* ===== Review Section ===== */

.review-section {
  padding-bottom: 120px;
  text-align: center;
}

.section-headline-main {
  max-width: 412px;
  margin: 0 auto 91px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  color: var(--black);
}

.review__list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.review__list-item {
  position: relative;

  width: 360px;
  height: 200px;
  padding: 56px 24px 24px 24px;

  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: 15px;
  box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
}
.review__item-img {
  position: absolute;
  top: -21%;
  left: 39%;
}

.review__item-headline {
  margin-bottom: 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  color: var(--black);
}
.review__item-paragraph {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  color: var(--grey-name);
}
.review__button {
  padding: 14px 40px;

  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
  background: transparent;
  border-radius: 100px;
  border: 1px solid var(--orange);
}

.review__button:hover,
.review__button:focus {
  background: var(--orange);
  color: var(--white);
}

/* ===== Footer ===== */

.page-footer {
  background: var(--dark);
}
.footer__contacts {
}
.footer__headline {
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
  color: var(--white);
}
.footer__headline-span {
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
  color: var(--orange);
}
.footer__contacts-headline {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28em;
  color: var(--white);
}
.footer__contacts-wrap {
}
.footer__contacts-list {
}
.footer__contacts-item {
}
.footer__contacts-link {
}
.footer__contacts-img {
}
.footer__address-list {
}
.footer__adress-item {
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
}
.footer__nav-wraper {
}
.footer__nav {
}
.footer__nav-list {
}
.footer__nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.28px;
}

/* ===== Modal ===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(253, 146, 34, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;

  border-radius: 4px;
  background: var(--milk);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover,
.modal__button-close:focus {
  background-color: var(--orange);
  border: none;
  fill: var(--white);
}

.modal-button-close__icon {
  fill: var(--black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal-button-close__icon {
  fill: var(--milk);
}
